body {
  background-color: rgb(255,191,0);
  font-family:Impact;
}


.profile-card {
    width: 400px;
    height: 500px;
    position: fixed;
    margin-left: 450px;
    margin-top: 350px;
    border: 10px solid;
    border-style: groove;
    border-color: rgb(140,146,172);
    border-radius: 20px;
    background-color:rgb(114,160,193);
    color: rgb(255,191,0);
}

.image {
  border: 5px solid;
  border-color:rgb(255,191,0);
  border-style: outset;
  width: 35%;
  height: 35%;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 30%;
  margin-top: 20%;
}

.image:hover {
  border-style: inset;
  
}

.profile-card:hover {
  /* border-style: ridge; */
  /* transform:matrix(0.686,0.8,-0.8,0.866,0,0); */
  /* transform:scale(1.1,1.1); */
}

button {
  padding: 2px;
  width: 40%;
  border-radius: 15px;
  font-family: Impact;
  border: 1px transparent;
  background-color:rgb(93,138,168) ;
  font-size: 20px;

}
 button:hover {
   border: 2px solid; 
 }

 .btn1 {
   margin-left: 30%;
 }

 .btn2 {
  margin-left: 30%;
}

@media  only screen and (max-width: 600px){
  .profile-card {
    margin-top: 0px;
    margin-left: 0px;
    width: 350px;
  }

}